<%- include('../partials/adminHeader') %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order Detail</h2>
            <p style="color: red;">ORDER STATUS: <%=order.orderList[0].status%></p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <% const timestamp = new Date(order.orderList[0].creationTime);
                    const options = { month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
                    const formattedDate = timestamp.toLocaleDateString('en-US', options); %>
                        <i class="material-icons md-calendar_today"></i> <b><%=formattedDate%></b>
                    </span> <br>
                    <small class="text-muted">Order ID: <%=order.orderList[0].orderHashId%></small>
                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                        <option>Change status</option>
                        <option>Awaiting payment</option>
                        <option>Confirmed</option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                    </select>
                    <a class="btn btn-primary" href="#">Save</a>
                    <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light" style="display: inline-flex; align-items: center; justify-content: center;">
                            <i class="text-primary material-icons md-person" style="vertical-align: middle;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%=user.username  %> <br><%=user.email %></template> <br> <%=user.mobile %>
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light" style="display: inline-flex; align-items: center; justify-content: center;">
                            <i class="text-primary material-icons md-local_shipping" style="vertical-align: middle;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: <%=order.orderList[0].paymentMethod%> <br> Status: <%=order.orderList[0].deliveryStatus%>
                            </p>
                            <a href="#">Download info</a>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light" style="display: inline-flex; align-items: center; justify-content: center;">
                            <i class="text-primary material-icons md-place" style="vertical-align: middle;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                City: <%=order.orderList[0].address.city%> <br><%=order.orderList[0].address.addressLine1%> <br> PO Box <%=order.orderList[0].address.postalCode%>
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="70%">Product</th>   <!-- Increased to 50% -->
                                    <th width="10%">Unit Price</th>
                                    <th width="10%">Quantity</th>
                                    <th width="10%" class="text-center">Total</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<order.orderList[0].items.length;i++) { %>
                                <tr>
                                   
                                    <td>
                                        <a class="itemside" href="#">
                                          <div style="display: flex; align-items: center;">
                                            <img src="/uploads/<%=order.orderList[0].items[i].productImages[1].filename%>" width="40" height="40" class="img-xs" alt="Item" style="margin-right: 10px;">
                                            <div style="font-weight: bold;"><%=order.orderList[0].items[i].productName%></div>
                                          </div>
                                        </a>
                                      </td>
                                    <td> $<%=order.orderList[0].items[i].price%></td>
                                    <td> <%=order.orderList[0].items[i].quantity%> </td>
                                    <td class="text-center"> $<%=order.orderList[0].items[i].productTotal%> </td>
                                </tr>                               
                               
                            </td>
                            <% } %>
                                <tr >
                                    <td colspan="4" >
                                        <article class="float-end">
                                            <dl class="dlist" style="margin-right: 90px;">
                                                <dt >Subtotal:</dt>
                                                <dd>$<%=order.orderList[0].totalPrice%></dd>
                                            </dl>
                                            <dl class="dlist" style="margin-right: 90px;">
                                                <dt>Shipping cost:</dt>
                                                <dd>$00.00</dd>
                                            </dl>
                                            <dl class="dlist" style="margin-right: 90px;">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">$<%=order.orderList[0].totalPrice%></b> </dd>
                                            </dl>
                                            <dl class="dlist" style="margin-right: 90px;">
                                                <dt class="text-muted">Payment Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success"><%=order.orderList[0].paymentStatus%></span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <!-- <div class="box shadow-sm bg-light">
                        <h6 class="mb-15">Payment info</h6>
                        <p>
                            <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                            Business name: Grand Market LLC <br>
                            Phone: +1 (800) 555-154-52
                        </p>
                    </div> -->
                   
                </div> 
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
            document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/select2.min.js"></script>
<script src="assets/js/vendors/perfect-scrollbar.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>