<%- include('../partials/adminHeader') %>

  </body>
  
        
        <div class="container">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title ">
                        <div class="row ">
                            <div class="col-xs-5">
                                <h2>User <b>Management</b></h2>
                            </div>
                            <!-- <div class="col-xs-7">
                                <a href="#" class=" btn-sm btn-primary"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                                <a href="#" class=" btn-sm btn-primary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>                      -->
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>                       
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% uData.forEach((uData, index) => { %>
                            <tr>
                                <td><%=sno++ %> </td>
                                <!-- <td><a href="#"><img src="/examples/images/avatar/1.jpg" class="avatar" alt="Avatar"> <%= uData.username %></a></td> -->
                                <td><%= uData.username %></td>                        
                                <td><%= uData.email %></td>
                                <td><%= uData.mobile %></td>
                                <% if(uData.block ==true){%>
                                <td><span class=" text-danger  text-sm font-weight-light">&bull;Blocked</td></span>
                                <% } else { %>
                                <td><span class=" text-success  text-sm font-weight-light">&bull;Active</td></span>
                                   <% } %>
                                <td>
                                     
                                  <form action="user-list/block/<%= uData._id %>" method="post">
                                    <div>  
                                        <button type="submit" class="btn  btn-light btn-outline-danger btn-sm w-100 " data-toggle="modal">Block</button>
                                    </div>
                                    </form>
                                    <form action="user-list/unblock/<%= uData._id %>" method="post">
                                        <div>
                                        <button type="submit" class="btn   btn-light btn-outline-success btn-sm " data-toggle="modal">Unblock</button>
                                    </div>
                                    </form>
                                   <!-- <form  method="" action="/admin/User-list ">
                                   <% if(uData.block){ %>  
                                   <button type="submit" name="unblock_btn"   class="btn btn-danger btn-xs">Unblock</button>
                                   
                                  <%}else{  %>  
                                    <button type="submit"  name="block_btn"  class="btn btn-danger btn-xs">Block</button>
                                   <% } %> 
                                  </form> -->
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                        <div class="pagination-area mt-15 mb-50">
                            <!-- <nav aria-label="Page navigation example"> -->
                                <ul class="pagination justify-content-start">
                                    <% for(let i =1; i <=2 ; i++) { %>
                                    <!-- <li class="page-item "><a class="page-link" href="#">01</a></li> -->
                                   
                                    <li class="page-item"><a class="page-link" href="?page=<%=i%>&&sno=<%=sno%>"><%= i%></a></li>
                                    <% } %>
                                </ul>
                            <!-- </nav> -->
                        </div>
                    </table>
                   
                    <!-- <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#">Previous</a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item active"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>        
        </div> 
        <footer class="main-footer font-xs">
            
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>