<%- include('../partials/checkOutPartial') %> 

        <section class="mt-50 mb-50">
            <div class="container">
               
                <div class="row">
                   
                    <div class="col-lg-6">
                     
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                         
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post" action="/userCouponPost" id ="coupon-form">
                                    <div class="form-group">
                                        <input type="text" name="couponCod" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md"  type = "submit" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="mb-25">
                        <a href="/addAdressForm"><h5>+ Add an address</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <% for(let i=0; i < uid.address.length; i++) { %>
                        <form  id="continueForm" action="/OrderCreationpart1/<%uid.address[i]._id%> " method="post">
                           
                                <div>
                            <div class="payment_option">
                                
                              <div class="list-group-item" style="border-radius: 1rem; padding: 1.5rem; margin-bottom: 2rem;">
                                <div class="list-group-item-heading">
                                  <div class="row radio">
                                    <div class="col-xs-3">
                                      <label>
                                        <input
                                          type="radio"
                                          name="uid.address[i]._id"
                                          id="optionShipp1"
                                          value="<%= JSON.stringify(uid.address[i]) %>"
                                          style="height: 1.2rem; width: 1.2rem"
                                        >
                                        <%=uid.address[i].firstName %>:   <%=uid.address[i].secondName %>
                                      </label>
                                    </div>
                                    <div class="col-xs-5">
                                      <dl class="dl-small">
                                        <dt><%= uid.address[i].addressLine1 %></dt>
                                        <dd> <%= uid.address[i].addressLine2 %></dd>
                                        <dd><%= uid.address[i].city %></dd>
                                        <dd><%= uid.address[i].province %></dd>
                                        <dd><%= uid.address[i].postalCode %></dd>
                                        <dd> <%= uid.address[i].contactNumber %></dd>
                                        <dd><%= uid.address[i].shippingEmail %></dd>
                                      </dl>
                                       <div>
                                       <button class="btn btn-sm">Edit</button>
                                       <form id="delete-address-form" data-address-id="<%=uid.address[i].shippingEmail%>">
                                        <button class="btn btn-sm" type="submit" style="margin-top: 10px;">Delete</button>
                                       </form>
                                        </div>
                                    
                                    </div>
                                  </div>
                                </div>
                              </div>                             
                                
                            </div>     
                        </div>
                        <% }%> 
                   
                    </div>
                    <div class="card w-50 h-10">
                        <div>
                        <div class="card-header" style="margin-top: 5px;">
                          Order Summary
                        </div>
                        <% let cartTotal=0 %>
                        <% for(let i=0;i<product.length;i++){ %>
                            <% cartTotal+=product[i].subtotal %>
                             <% } %>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal
                            <span>$<%=cartTotal %></span>
                          </li>

                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Delivery Amount
                            <span>$0</span>
                          </li>
                         
                          <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
                            Order Total
                          
                            <span>$<%=cartTotal %></span>
                          </li>
                        </ul>
                  
                        <button type="submit" id="continue-btn" class="btn btn-fill-out btn-block mt-30">Continue</button>
                    </form>
                        </div> 
                        <div style="margin-top: 20px;">   
                    <div class="col-md-12">
                        <div class="order_review">
                            <div class="mb-20">
                               
                              
                            </div>
                            <script>
                                const button = document.getElementById('continue-btn');
                                button.addEventListener('click', function() {
                                  const radios = document.querySelectorAll('input[type=radio]:checked');
                                  const selectedAddress = JSON.parse(radios[0].value);
                              
                                  const xhr = new XMLHttpRequest();
                                  xhr.open('POST', '/OrderCreationpart1/' + selectedAddress._id);
                                  xhr.setRequestHeader('Content-Type', 'application/json');
                                  xhr.onload = function() {
                                    if (xhr.status === 200) {
                                        window.location.replace('/OrderCreationpart2');
                                        
                                    } else {
                                      console.log('Request failed.  Returned status of ' + xhr.status);
                                    }
                                  };
                                  xhr.send(JSON.stringify(selectedAddress));
                                });
                              </script>
                              
                            <!-- <div class="payment_option">    payment radio options
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash On Delivery</label>
                                    <div class="form-group collapse in" id="bankTranfer">
                                        <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                    </div>
                                </div>
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Razor pay</label>
                                    <div class="form-group collapse in" id="checkPayment">
                                        <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                    </div>
                                </div>
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                    <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                                    <div class="form-group collapse in" id="paypal">
                                        <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                    </div>
                                </div>
                            </div> -->
                           
                            <!-- <a href="/OrderCreation" class="btn btn-fill-out btn-block mt-30">Proeceed to Pay</a> -->
                            <!-- <div class="toggle_info" style="margin-top: 30px;">
                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                            </div> -->

                        </div>
                       
                        
                    </div>
                </div> 
                      </div>
                      
                 
                            <div class="table-responsive order_table text-center">
                                 
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                              
                               
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/userFooter') %> 
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
   
    <!-- Vendor JS-->
    <script>
   $(document).ready(function() {
  $('#coupon-form').submit(function(event) {
    // Prevent the default form submission
    event.preventDefault();

    // Get the form data
    var formData = $('#coupon-form').serialize();

    // Make the AJAX request
    $.ajax({
      type: 'POST',
      url: '/userCouponPost',
      data: formData,
      success: function(response) {
        // Handle the success response
      },
      error: function(xhr, status, error) {
        // Handle the error response
      }
    });
  });
})
    </script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
    <script>
     
    const deleteAddressForm = document.getElementById('delete-address-form');
    deleteAddressForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const addressId = deleteAddressForm.getAttribute('data-address-id');
        fetch(`/checkOut/deleteAddress/${addressId}`, {
            method: 'POST',
        })
        .then((response) => {
            if (response.ok) {
                location.reload(); // Reload the page after successful deletion
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });


    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>