<%- include('../partials/OrderSummary') %> 
<body>
    <section class="h-100 gradient-custom" >
        <div class="container py-5 h-100" >
          <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-lg-10 col-xl-8"style="width: 78%;" >
              <div class="card" style="margin-left:50px;border-radius: 10px;border-color: #046963;border-width: 2px;">
                <div class="card-header px-4 py-5" style="background-color: #046963;">
                
                  
      
                    <h2 class="text-muted mb-0"> <span style="color: rgb(255, 254, 254);">Thanks for your Order,<%=order.address.firstName%></span>!</h2>
                    
                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0" style="font-size: 20px;color: #2e2b2b;">Order Details </p>
                    <p class="small mb-0" style="font-size: 18px;color: #2e2b2b;">Order Id :#<%=order.orderHashId%></p>
                    <% const timestamp = new Date(order.creationTime);
                    const options = { month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
                    const formattedDate = timestamp.toLocaleDateString('en-US', options); %>

                    <h4 class=" small  mb-0" style="font-size: 15px;color: #272222be;">Ordered Date: <%=formattedDate%> </h4>
                    
                  </div>
                  <p class= class="lead fw-normal mb-0" style="font-size: 20px;color: #272222be;">Payment-Method:<%=order.paymentMethod%></p>
                  <div class="card shadow-0 border mb-4">
                  <% for(let i=0;i<order.items.length;i++) { %>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                              <a href="/fullImage/<%=order.items[i]._id%>">
                                <img src="/uploads/<%=order.items[i].productImages[1].filename%>" class="img-fluid" alt="Phone">
                              </a>
                            </div>
                            <div class="col-md-10">
                              <div class="row align-items-center">
                                <div class="col-md-4">
                                  <a href="/productDetails/<%=order.items[i].productId%>" target="_blank" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"><%=order.items[i].productName%></a>
                                </div>
                                <div class="col-md-3 text-muted">
                                    <p class=" mb-0 small" style="font-size: 17px;color: #4a5252;">Price $<%=order.items[i].price%></p> 
                                </div>
                                <div class="col-md-2 text-muted">
                                    <p class="text-muted mb-0 small" style="font-size: 17px;color: #4a5252;">Quantity  <%=order.items[i].quantity%></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-muted mb-0 small" style="font-size: 17px;color: #4a5252;">Product total  $<%=order.items[i].productTotal%></p>
                                </div>
                              </div>
                            </div>
                          <!-- </div> -->
                          
                        <!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0">Product <%=order.items[i].productName%></p>
                        </div>
                        
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Category <%=order.items[i].productCatogory%></p> 
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Quantity  <%=order.items[i].quantity%></p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Price $<%=order.items[i].price%></p>
                        </div> -->
                      </div>
                      <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    
                    </div>
                    <% } %>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <p class="fw-bold mb-0">Address Details</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                      </div>
                      
                    
                        <div class="d-flex justify-content-between pt-2">
                          <p class="fw-bold mb-0"><%=order.address.firstName%></p>
                        <%if(order.status=='confirmed'){ %>   
                          <p class="text-muted mb-0"><span class="fw-bold me-4" ><span>Order Status</span>:   <span style="color:green;"><%=order.status%> </span> </p>
                        <%} else if(order.status=='Delivered') {%>
                          <p class="text-muted mb-0"><span class="fw-bold me-4" ><span>Order Status</span>:   <span style="color: orange;"><%=order.status%> </span> </p>
                                            
                        <%} else  {%>
                                                                                      
                          <p class="text-muted mb-0"><span class="fw-bold me-4" ><span>Order Status</span>:   <span style="color: red;"><%=order.status%> </span> </p>
                                                                                      
                        <%} %>
                        <%if(order.status=='confirmed'){ %>   
                         <button  class="btn btn-primary text-center"  onclick="cancelOrder('<%=order._id%>');Swal.fire({
                          position: 'center',
                          icon: 'success',
                          title: 'Item Canceled',
                          showConfirmButton: false,
                          timer: 2000
                        })">Cancel Order</button>
                        <%} %>
                        <%if(order.status=='delivered'){ %>   
                       <button class="btn btn-primary text-center" style="background: slateblue; height:2rem" onclick="returnOrder('<%=orderDetails._id%>')">Return</button>
                        <%} %>
                            </div>
                        <div class="d-flex justify-content-between pt-2">
                          <p class="fw-bold mb-0">Address Line 1: <%=order.address.addressLine1%></p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                        </div>
                        <div class="d-flex justify-content-between pt-2">
                            <div>
                              <p class="fw-bold mb-0">Street: <%=order.address.addressLine2%></p>
                              <p class="fw-bold mb-0">City: <%= order.address.city%></p>
                              <p class="fw-bold mb-0">PinCode: <%= order.address.postalCode%></p>
                              <p class="fw-bold mb-0">Contact No: <%= order.address.contactNumber%></p>
                            </div>
                            <div>
                              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $<%=order.totalPrice%></p>
                              <p class="text-success mb-0"><span class="fw-bold me-4"></span></p>
                              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>Free</p>
                            </div>
                          </div>
                          
                       </div>
                    <div class="card-footer border-0 px-4 py-5"
                      style="background-color: whitesmoke; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                      <h5 class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">Total
                        paid: $<%=order.totalPrice%><span class="h2 mb-0 ms-2"></span></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center">
             
              <div class="col-md-10">
                
               
              </div>
            </div>
                
      </section>
      
      <script>
        function cancelOrder(orderId){
          // console.log(orderId);
          $.ajax({
            url:'/cancel-order/'+orderId,
            method:'put',
            success:((response)=>{
              if(response.status){
                location.reload()
              }
            })
          })
        }
        function returnOrder(orderId){
          $.ajax({
            url:'/return-order/'+orderId,
            method:'put',
            success:((response)=>{
              if(response.status){
                location.reload()
              }
            })
          })
        }
        
      </script> 
</body>
</html>






















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
    background-color: #5165ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.modal-body {
    background-color: #fff;
    border-color: #fff;

}


.close {
    color: #000;
    cursor: pointer;
}

.close:hover {
    color: #000;
}


.theme-color{

    color: #004cb9;
}
hr.new1 {
    border-top: 2px dashed #fff;
    margin: 0.4rem 0;
}


.btn-primary {
    color: #fff;
    background-color: #004cb9;
    border-color: #004cb9;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #004cb9;
    border-color: #004cb9;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}
    </style>
</head>
<body>
    
    <style>


        .payment
     {
      border:1px solid #f2f2f2;
      height:280px;
            border-radius:20px;
            background:#fff;
     }
       .payment_header
       {
        background:#20B6CA;
        padding:20px;
           border-radius:20px 20px 0px 0px;
        
       }
       
       .check
       {
        margin:0px auto;
        width:50px;
        height:50px;
        border-radius:100%;
        background:#fff;
        text-align:center;
       }
       
       .check i
       {
        vertical-align:middle;
        line-height:50px;
        font-size:30px;
       }
    
        .content 
        {
            text-align:center;
        }
    
        .content  h1
        {
            font-size:25px;
            padding-top:25px;
        }
    
        .content a
        {
            width:200px;
            height:35px;
            color:#fff;
            border-radius:30px;
            padding:5px 10px;
            background:#20B6CA;
            transition:all ease-in-out 0.3s;
        }
    
        .content a:hover
        {
            text-decoration:none;
            background:#000;
        }
       
    </style>
    
    
    
    <div class="container mt-30">
      <div class="row">
         <div class="col-md-6 mx-auto mt-5">
            <div class="payment">
               <div class="payment_header">
                  <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
               </div>
               <div class="content">
                  <h1>Payment Success !</h1>
                  <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
                  <a href="/" >Go to Home</a>
               </div>
               
            </div>
         </div>
      </div>
    </div>
    
    
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->