<%- include('../partials/OrderSummary') %> 
<!-- Include the SweetAlert CSS file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">

<!-- Include the SweetAlert JS file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<body>
    <section class="h-100 gradient-custom" >
        <div class="container py-5 h-100" >
          <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-lg-10 col-xl-8"style="width: 78%;" >
              <div class="card" style="margin-left:50px;border-radius: 10px;border-color: #046963;border-width: 2px;">
                <div class="card-header px-4 py-5" style="background-color: #046963;">
                
                  
      
                    <h2 class="text-muted mb-0"> <span style="color: rgb(255, 254, 254);">Thanks for your Order,<%=order.address.firstName%></span>!</h2>
                    
                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0" style="font-size: 20px;color: #2e2b2b;">Order Details </p>
                    <p class="small mb-0" style="font-size: 18px;color: #2e2b2b;">Order Id :#<%=order.orderHashId%></p>
                    <% const timestamp = new Date(order.creationTime);
                    const options = { month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
                    const formattedDate = timestamp.toLocaleDateString('en-US', options); %>

                    <h4 class=" small  mb-0" style="font-size: 15px;color: #272222be;">Ordered Date: <%=formattedDate%> </h4>
                    
                  </div>
                  <p class= class="lead fw-normal mb-0" style="font-size: 20px;color: #272222be;">Payment-Method:<%=order.paymentMethod%></p>
                  <div class="card shadow-0 border mb-4">
                  <% for(let i=0;i<order.items.length;i++) { %>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                              <a href="/fullImage/<%=order.items[i]._id%>">
                                <img src="/uploads/<%=order.items[i].productImages[1].filename%>" class="img-fluid" alt="Phone">
                              </a>
                            </div>
                            <div class="col-md-10">
                              <div class="row align-items-center">
                                <div class="col-md-4">
                                  <a href="/productDetails/<%=order.items[i].productId%>" target="_blank" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"><%=order.items[i].productName%></a>
                                </div>
                                <div class="col-md-3 text-muted">
                                    <p class=" mb-0 small" style="font-size: 17px;color: #4a5252;">Price $<%=order.items[i].price%></p> 
                                </div>
                                <div class="col-md-2 text-muted">
                                    <p class="text-muted mb-0 small" style="font-size: 17px;color: #4a5252;">Quantity  <%=order.items[i].quantity%></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-muted mb-0 small" style="font-size: 17px;color: #4a5252;">Product total  $<%=order.items[i].productTotal%></p>
                                </div>
                              </div>
                            </div>
                          <!-- </div> -->
                          
                        <!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0">Product <%=order.items[i].productName%></p>
                        </div>
                        
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Category <%=order.items[i].productCatogory%></p> 
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Quantity  <%=order.items[i].quantity%></p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Price $<%=order.items[i].price%></p>
                        </div> -->
                      </div>
                      <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    
                    </div>
                    <% } %>
                    </div>
                    <!-- <div class="d-flex justify-content-between pt-2">
                        <p class="fw-bold mb-0">Address Details</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                      </div>
                      
                    
                        <div class="d-flex justify-content-between pt-2">
                          <p class="fw-bold mb-0"><%=order.address.firstName%></p>
                        <%if(order.status=='confirmed'){ %>   
                          <p class="text-muted mb-0"><span class="fw-bold me-4" ><span>Order Status</span>:   <span style="color:green;"><%=order.status%> </span> </p>
                          <button  class="btn btn-primary text-center"  onclick="cancelOrder('<%=order._id%>');Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item Canceled',
                            showConfirmButton: false,
                            timer: 2000
                          })">Cancel Order</button>
                        <%} else if(order.status=='Delivered') {%>
                          <p class="text-muted mb-0"><span class="fw-bold me-4" ><span>Order Status</span>:   <span style="color: orange;"><%=order.status%> </span> </p>
                                            
                        <%} else  {%>
                                                                                      
                          <p class="text-muted mb-0"><span class="fw-bold me-4" ><span>Order Status</span>:   <span style="color: red;"><%=order.status%> </span> </p>
                                                                                      
                        <%} %>
                
                        <%if(order.status=='delivered'){ %>   
                       <button class="btn btn-primary text-center" style="background: slateblue; height:2rem" onclick="returnOrder('<%=orderDetails._id%>')">Return</button>
                        <%} %>
                            </div>
                        <div class="d-flex justify-content-between pt-2">
                          <p class="fw-bold mb-0">Address Line 1: <%=order.address.addressLine1%></p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                        </div>
                        <div class="d-flex justify-content-between pt-2">
                            <div>
                              <p class="fw-bold mb-0">Street: <%=order.address.addressLine2%></p>
                              <p class="fw-bold mb-0">City: <%= order.address.city%></p>
                              <p class="fw-bold mb-0">PinCode: <%= order.address.postalCode%></p>
                              <p class="fw-bold mb-0">Contact No: <%= order.address.contactNumber%></p>
                            </div>
                            <div>
                              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $<%=order.totalPrice%></p>
                              <p class="text-success mb-0"><span class="fw-bold me-4"></span></p>
                              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>Free</p>
                            </div>
                          </div>
                          
                       </div>
                    <div class="card-footer border-0 px-4 py-5"
                      style="background-color: whitesmoke; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                      <h5 class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">Total
                        paid: $<%=order.totalPrice%><span class="h2 mb-0 ms-2"></span></h5>
                    </div>
                  </div> -->
                  <table>
                    <tr>
                      <td class="fw-bold">Delivering to:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Customer Name:</td>
                      <td><%=order.address.firstName%></td>
                     
                    </tr>
                    <tr>
                      <td class="fw-bold">Address:</td>
                      <td><%=order.address.addressLine1%></td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Street:</td>
                      <td><%=order.address.addressLine2%></td>
                    </tr>
                    <tr>
                      <td class="fw-bold">City:</td>
                      <td><%= order.address.city%></td>
                    </tr>
                    <tr>
                      <td class="fw-bold">PinCode:</td>
                      <td><%= order.address.postalCode%></td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Contact No:</td>
                      <td><%= order.address.contactNumber%></td>
                    </tr>
                    <tr>
                      <td><span class="fw-bold">Grand Total</span></td>
                      <td>$<%=order.totalPrice%></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <p class="text-success mb-0"></p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>Free</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <td>
                          <%if(order.status=='confirmed'){ %>
                            <span class="fw-bold me-4">Order Status: </span>
                            <span style="color:green;" id="statusmsg"><%=order.status%></span>
                           
                            <div style="display: flex; margin-top: 10px;">
                              <button class="button button-add-to-cart" id="button-add-to-cart" style="background-color: grey; font-size: 14px; padding: 5px 10px; margin-right: 10px;" onclick="showCancelOrderWarning()">Cancel Order</button>
                              <a href="/invoice" class="button button-add-to-cart" id="button-add-to-cart" style="background-color: grey; font-size: 14px; padding: 5px 10px;">Generate Invoice</a>
                              <a href="/" class="button button-add-to-cart" id="button-add-to-cart" style="background-color: grey; font-size: 14px; padding: 5px 10px;">Back to Home</a>
                            </div>

                            
                            <!-- <button class="btn  btn-primary text-center" style="margin-left: 20px;" onclick="cancelOrder('<%=order._id%>');Swal.fire({
                              position: 'center',
                              icon: 'success',
                              title: 'Item Canceled',
                              showConfirmButton: false,
                              timer: 2000
                            })">Cancel Order</button> -->
                          <%} else if(order.status=='Delivered') {%>
                            <span class="fw-bold me-4">Order Status: </span>
                            <span style="color: orange;"><%=order.status%></span>
                          <%} else  {%>
                            <span class="fw-bold me-4">Order Status: </span>
                            <span style="color: red;"><%=order.status%></span>
                            <div style="display: flex; margin-top: 10px;">
                              
                              <a href="/" class="button button-add-to-cart" id="button-add-to-cart" style="background-color: grey; font-size: 14px; padding: 5px 10px;">Back to Home</a>
                            </div>
                          <%} %>
                        
                        </td>
                      </td>
                      <td>
                        <h5 class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">Grand Total: $<%=order.totalPrice%><span class="h2 mb-0 ms-2"></span></h5>
                      </td>
                    </tr>
                  </table>
                  
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center">
             
              <div class="col-md-10">
                
               
              </div>
            </div>
                
      </section>
      
      <!-- <script>
        function cancelOrder(orderId){
          // console.log(orderId);
          $.ajax({
            url:'/cancel-order/'+orderId,
            method:'put',
            success:((response)=>{
              if(response.status){
                location.reload()
              }
            })
          })
        }
        function returnOrder(orderId){
          $.ajax({
            url:'/return-order/'+orderId,
            method:'put',
            success:((response)=>{
              if(response.status){
                location.reload()
              }
            })
          })
        }
        
      </script>  -->
      <script>
        function showCancelOrderWarning() {
          // Show a confirmation dialog using SweetAlert
          swal.fire({
            title: 'Are you sure you want to cancel this order?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: 'grey',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, cancel it!',
            cancelButtonText: 'No, keep it'
          }).then((result) => {
            if (result.value) {
              Swal.fire({
        title: 'Reason for Cancellation:',
        input: 'select',
        inputOptions: {
          'Decision Changed': 'Decision Changed',
          'Order by mistake': 'Order by mistake',
          'Wrong item Ordered': 'Wrong item Ordered'
        },
        inputAttributes: {
          autocapitalize: 'off'
        },
        showCancelButton: true,
        confirmButtonText: 'Submit',
        showLoaderOnConfirm: true,
        preConfirm: (reason) => {
      $.ajax({
        type: 'POST',
        url: '/cancel-order',
        data: JSON.stringify({orderId: null,reason: reason}),
        contentType: 'application/json'
        ,
  success: function(response) {
    // Display a success message if the request was successful
    Swal.fire({
      icon: 'success',
      title: 'Order cancelled',
      text: response.message
    });
    $('#button-add-to-cart').hide();
    $('#statusmsg').text('Cancelled').css('color', 'red');
  },
  error: function(error) {
    // Display an error message if the request failed
    Swal.fire({
      icon: 'error',
      title: 'Error cancelling order',
      text: error.message
    });
  }
});
          }})}})};








 </script>
      
 
      
</body>
</html>

