<%- include('../partials/userHeader') %> 
 
   <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                          
                          
                                <table class="table shopping-summery text-center clean">
                                  <thead>
                                    <tr class="main-heading">
                                      <th scope="col">Image</th>
                                      <th scope="col">Name</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Quantity</th>
                                      <th scope="col">Subtotal</th>
                                      <th scope="col">Remove</th>
                                    </tr>
                                  </thead>
                                  <% let cartTotal = 0; %>
                                  <% if(products) {%>
                                  <% for (let i = 0; i<products.length; i++) { %>
                                    <tbody>
                                      <tr>
                                        <% if (products[i]?.productImages[1].filename !== 'undefined') { %>
                                        <td class="image product-thumbnail"><img src="/uploads/<%=products[i]?.productImages[1].filename%>" alt="#"></td> 
                                        <% } %>
                                        <td class="product-des product-name">
                                          <h5 class="product-name"><a href="shop-product-right.html"> <%=products[i].productName %> </a></h5>
                                         
                                        </td>
                                        <td class="price" data-title="Price"><span>$<%=products[i].productCost %> </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                               
                                                <a class="qty-down" onclick="changeQuantity( `<%=products[i].productName%>` ,`<%=products[i].productsId%>`,`<%=products[i].productCost%>`, -1)"><i class="fi-rs-angle-small-down"></i></a>

                                                <span class="qty-val" id="<%=products[i].productName%>"><%=products[i].qty%></span>
                                                
                                                <a  class="qty-up" onclick="changeQuantity(`<%=products[i].productName%>` ,`<%=products[i].productsId%>`,`<%=products[i].productCost%>`,1)"><i class="fi-rs-angle-small-up"></i></a>
                                                
                                            </div>
                                        </td>
                                        <!-- <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius m-auto quantity-dropdown" data-product-id="<%= products[i].productName  %>">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val" id="quantity-<%= i %>" data-quantity="<%=products[i].qty %>">
                                                  <%=products[i].qty %>
                                                </span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            </td> -->
                                                <td class="price" data-title="Price" id="<%=products[i].productsId%>">$<span><%=products[i].subtotal; %> </span></td>
                                              
                                            <td class="price" data-title="Price"><a href="/deleteFromCart/<%=products[i].productsId %>" style="color:#088178;">delete</a></td>

                                            <% cartTotal += products[i].subtotal; %>
                                <% } %>
                               <% } %>
                                        </table>
                                
                        </div>
                    <script>            
  function changeQuantity(pName,prodId,pcost,count) {
    let quantity = parseInt(document.getElementById(pName).innerHTML) + parseInt(count);
    if (quantity <= 0) {
        // minimum quantity is 0
        quantity = 1;
    }
    //count = count;
    $.ajax({
      url: '/cart/updateQuantity',
      data: {   
        product: prodId,
        count: parseInt(count),
        quantity: parseInt(quantity),
        pCost:parseInt(pcost)
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          alert("Product Removed From the Cart");
          //location.reload();
          location.window.replace('/showCart');
        }
  
        else {
        //   document.getElementById(prod ).innerHTML = quantity + count
          document.getElementById('cart-total').innerHTML ="$" + response.total;
          document.getElementById(prodId).innerHTML = "$" +response.subtotal;
        }
      }
    })
  }




                        </script>
                       <div class="row">
                        <div class="col-md-6">
                          <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                              <h4>Cart Totals</h4>
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="cart_total_label">Shipping</td>
                                      <td class="cart_total_amount"><i class="ti-gift mr-5"></i> Free Shipping</td>
                                    </tr>
                                    <tr>
                                      <td class="cart_total_label">Total</td>
                                      <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand" id="cart-total">$<%=cartTotal%></span></strong></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cart-action text-end" style="margin-top: 20px;">
                                <a class="btn btn-success d-block" href="/checkOut"  style="margin-bottom: 30px;"><i class="fi-rs-box-alt mr-10"></i>Proceed To CheckOut</a>
                              <!-- <a class="btn btn-primary d-block mb-3"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                              <a class="btn btn-secondary d-block mb-3" href="/"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                            
                            </div>
                          </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                              
                               
                                <div class="mb-30 mt-50">
                                    <div class="heading_s1 mb-3">
                                        <h4>Apply Coupon</h4>
                                    </div>
                                    <div class="total-amount">
                                        <div class="left">
                                            <div class="coupon">
                                                <form action="#" target="_blank">
                                                    <div class="form-row row justify-content-center">
                                                        <div class="form-group col-lg-6">
                                                            <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                </div>
            </div>
        </section>
    </main>
<%- include('../partials/userFooter') %> 